@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 20px;
    padding:20px;
    float: left;
}

h1{
    font-family: 'Montserrat', sans-serif;
    padding:20px;
}

p{
    font-family: 'Montserrat', sans-serif;
   
}

div {
    font-family: 'Montserrat', sans-serif;
    padding:20px;
}

img {
    width:50%;
    visibility: hidden;
}